@model ECommerceMVC.Models.UserResponse

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    <ul>
        <li>@Model.Id</li>
        <li>@Model.Name</li>
        <li>@Model.Username</li>
        <li>@Model.Email</li>
        <li>@Model.CreatedAt</li>
    </ul>
</div>